@model Blog.BLL.ViewModel.UserBlogViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Добавление пользователя";
}

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<div style="text-align: -moz-center; text-align: center; border: 2px solid green;">
    <div id="topDivMain" class="divHead">
        <H1>Страница пользователя @Model.UserName</H1>
    </div>

    <div id="bottomDivMain" style="overflow-y: scroll;">

        <div id="leftDivMain">
            <div id="photoPlace">
                место для фото
            </div>
            <div>
                <form method="get" asp-controller="" asp-action="">
                    <input type="hidden" name="id" value="@Model.UserId" />
                    <button class="AccountButton" type="submit">Редактировать данные профиля</button>
                </form>
            </div>
        </div>

        <div>

            <div id="rightDivMain" style="width: 100%; background-color:rgba(0,0,0,0.5)">
                <div id="PostField" style="background-color: rgba(0,0,0,0.5)">
                    <form method="post" asp-controller="Posts" asp-action="UserBlog">
                        <span style="color: rgba(57,227,237,1)">Введите название Вашей статьи</span>
                        @Html.TextAreaFor(m => m.Title, new { @class = "userPostsTextArea" })
                        <span style="color: rgba(57,227,237,1)">Введите текст Вашей статью</span>
                        @Html.TextAreaFor(m => m.Text, new { @class = "userPostsTextArea" })
                        <span style="color: rgba(57,227,237,1)">Введите незвание тегов через запятую в формате "#Название тега"</span>
                        @Html.TextAreaFor(m => m.tegs, new { @class = "userPostsTextArea", Value = "Начальное значение" })

                        <button class="AccountButton" type="submit">Опубликовать</button>
                    </form>
                </div>
                <div id="allUserPosts"></div>
            </div>

            <div style="position: relative; display:inline-block;">
                <div style="color: bisque; background-color:teal; text-align: center;">Все Ваши посты</div>
@*                 <div>
                    <form method="get" asp-action="EditPost" asp-controller="Posts">
                        <input type="hidden" name="postId" value="" />
                        <button class="AccountButton" type="submit">Редактировать писанину</button>
                    </form>
                </div> *@
                <hr />

            </div>

        </div>

    </div>
</div>